.d1{
    background-color: red;
    width: 200px;
    height: 200px;
    animation-name: test;
    animation-duration: 5s;
    float: left;
}
@keyframes test{
    from{
        background-color: yellow;
        width: 400px;
        height: 400px;
    }
    to{
        background-color: red;
        width: 200px;
        height: 200px;
    }
}