.d1{
    width: 220px;
    height: 300px;
    background-color: greenyellow;
    float: left;
    border: 2px solid black;
    font-size: 30px;
    margin-left: 15px;
    transition-duration: 3s;
}
.d1:hover{
    transform: rotate(-90deg);
    background-color: pink;
    transition-duration: 3s;
}
.d2{
    width: 220px;
    height: 300px;
    background-color: red;
    float: left;
    border: 2px solid black;
    font-size: 30px;
    margin-left: 15px;
    transition-duration: 3s;
}
.d2:hover{
    transform: rotateX(30deg);
    background-color: aqua;
    transition-duration: 3s;
}
.d3{
    width: 220px;
    height: 300px;
    background-color: violet;
    float: left;
    border: 2px solid black;
    font-size: 30px;
    margin-left: 15px;
    transition-duration: 3s;
}
.d3:hover{
    transform: rotateY(30deg);
    background-color: maroon;
    transition-duration: 3s;
}
.d4{
    width: 220px;
    height: 300px;
    background-color: orange;
    float: left;
    border: 2px solid black;
    font-size: 30px;
    margin-left: 15px;
    transition-duration: 1s;
}
.d4:hover{
    transform: rotate3d(1,1,1,90deg);
    background-color: burlywood;
    transition-duration: 1s;
}