.a1{
    width: 700px;
    height: 500px;
}
.a2{
    width: 700px;
    height: 100px;
}
.a3{
    width: 120px;
    height: 100px;
    background-color: red;
    float: left;
}
.a4{
    width: 460px;
    height: 100px;
    background-color: yellowgreen;
    float: left;
}
.a5{
    width: 120px;
    height: 100px;
    float: right;
}
.a6{
    width: 120px;
    height: 50px;
    background-color: yellow;
}
.a7{
    width: 120px;
    height: 50px;
}
.a8{
    width: 60px;
    height: 50px;
    float: left;
    background-color: aqua;
}
.a9{
    width: 60px;
    height: 50px;
    float: right;
    background-color: green;
}
.a10{
    width: 120px;
    height: 400px;
    float: left;
}
.a11{
    width: 120px;
    height: 250px;
    background-color: blue;
}
.a12{
    width: 120px;
    height: 150px;
}
.a13{
    width: 60px;
    height: 150px;
    background-color: blueviolet;
    float: left;
}
.a14{
    width: 60px;
    height: 150px;
    background-color: gold;
    float: right;
}
.a15{
    width: 580px;
    height: 400px;
    float: right;
}
.a16{
    width: 580px;
    height: 80px;
    background-color: magenta;
}
.a17{
    width: 580px;
    height: 320px;
    float: left;
}
.a18{
    width: 100px;
    height: 320px;
    float: left;
}
.a19{
    width: 100px;
    height: 170px;
}
.a20{
    width: 50px;
    height: 170px;
    background-color: chartreuse;
    float: left;
}
.a21{
    width: 50px;
    height: 170px;
    background-color: coral;
    float: right;
}
.a22{
    width: 100px;
    height: 150px;
    background-color: dodgerblue;
}
.a23{
    width: 100px;
    height: 320px;
    background-color: darkorchid;
    float: left;
}
.a24{
    width: 380px;
    height: 320px;
    float: right;
}
.a25{
    width: 380px;
    height: 80px;
    background-color: goldenrod;
}
.a26{
    width: 380px;
    height: 240px;
}
.a27{
    width: 126px;
    height: 240px;
    float: left;
}
.a28{
    width: 126px;
    height: 120px;
    background-color: lawngreen;
}
.a29{
    width: 126px;
    height: 120px;
}
.a30{
    width: 63px;
    height: 120px;
    background-color: darkcyan;
    float: left;
}
.a31{
    width: 126px;
    height: 240px;
    background-color: darkorange;
    float: left;
}
.a32{
    width: 128px;
    height: 240px;
    float: right;
}
.a33{
    width: 128px;
    height: 120px;
    background-color: crimson;
}
.a34{
    width: 128px;
    height: 120px;
}
.a35{
    width: 64px;
    height: 120px;
    background-color: blue;
    float: left;
}
.a36{
    width: 64px;
    height: 120px;
    background-color: yellow;
    float: right;
}
.a37{
    width: 63px;
    height: 120px;
    background-color :deepskyblue;
    float: right;
}