.nav1{
    margin-left: 30px;
}
.head{
    color: rgb(249, 219, 47);
    margin-top: 50px;
    text-align: center;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: rgb(92, 92, 90);
}
.card1{
    width:80%;
    margin-top: 50px;
    gap: 40px;
}
.card2{
    display: flex;
    flex-direction: row;
    border: 0px;
}
.cardb{
    text-align: justify;
}
.div1{
    width: 100%;
    height:500px;
    background-color: rgb(235, 233, 232);
}
.div2{
    width: 37%;
    height: 400px;
    background-color: red;
    float: left;
    margin-left: 13%;
}
.div3{
    font-size: 16px;
    color: gold;
    font-weight: 500;
    transform: rotate(270deg);
    width: 110px;
    margin-top: 50px;
    margin-left: -40px;
}