.d1{
    width: 280px;
    height: 300px;
    float: left;
}
.d2{
    width: 880;
    height: 620px;
    margin-top: 30px;
}
.d3{
    width: 880px;
    height: 300px;
}
.d4{
    width: 100%;
    height: 150px;
    font-size: 48px;
    line-height: 49px;
    text-align: left;
    font-weight: 500;
    margin-top: 30px;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.d5{
    width: 100%;
    height: 120px;
    margin-top: 15px;
}
.d6{
    width: 100%;
    height: 40px;
    text-align: left;
}
.d7{
    width: 100px;
    height: 30px;
    background-color: #967EF4ff;
    position: relative;
    top: 20px;
    right: 87px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
}
.d8{
    width: 70px;
    height: 70px;
    background-color: red;
    margin-top: 20px;
    position: relative;
    right: 85px;
}
.img1{
    width: 70px;
    height: 70px;
}
.d9{
    width: 260px;
    height: 190px;
    margin-top: 20px;
    margin-left: 20px;
}
.d10{
    width: 260px;
    height: 16px;
    font-size: 16px;
    text-align: left;
    font-weight: 700;
}
.d11{
    width: 100%;
    height: 100px;
    margin-top: 20px;

}
.d12{
    width: 100%;
    height: 16px;
    margin-top: 15px;
    display: flex;
    justify-content: start;
}
.d13{
    width: 16px;
    height: 16px;
    border-radius: 20px;
    background-color: #3997DCff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.d14{
    width: 220px;
    height: 16px;
    font-size: 16px;
    text-align: start;
    margin-left: 6px;
    position: relative;
    bottom: 5px;
}
.d15{
    width: 100px;
    height: 30px;
    background-color: #967EF4ff;
    position: relative;
    top: 20px;
    right: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
}
.d16{
    width: 10px;
    height: 5px;
    position: relative;
    bottom: 5px;
    left: 3px;
}